
/* Mobile Styles */
@media only screen and (max-width: 600px) {

    body {
        background: #6e6e6e;
    }

    button {
        font-size: 2em;
        background-color: indianred;
        margin-top: 15px;
        padding: 7px;
    }

    .grid {
        padding: 50px;
        display: grid;
        padding: 0;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        width: 300px;
        height: 300px;
        margin: 5% auto 3rem auto;
    }

    /* Each Cell */
    .gridBox {
        border: solid;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .display {
        font-size: 2.5em;
        padding-bottom: 0;
        margin: 0 auto 0 auto;
    }

    /* Paragraphs inside of cells */
    .gridBox > p {
        padding-top: 3px;
        font-size: 1.4em;
        font-family: serif;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 601px) {

    body {
        background: #6e6e6e;
    }

    button {
        font-size: 2em;
        background-color: indianred;
        margin-top: 15px;
        padding: 7px;
    }
    
        /* Main Grid Container */
    .grid {
        font-size: 2.3em;
        padding: 50px;
        display: grid;
        padding: 0;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        width: 600px;
        height: 600px;
        margin: 5% auto 3rem auto;
    }

    /* Each Cell */
    .gridBox {
        border: solid;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .display {
        font-size: 2.5em;
        padding-bottom: 0;
        margin: 0 auto 0 auto;
    }

    /* Paragraphs inside of cells */
    .gridBox > p {
        padding-top: 3px;
        font-size: 1.4em;
        font-family: serif;
    }


}
