*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
    font-family: 'PTSans';}

@font-face {
    font-family: 'PTSans';
    src: url('typeface/PTSans/PTSans-Regular.ttf');
}

@font-face {
    font-family: 'Exo';
    src: url('typeface/Exo/Exo-VariableFont_wght.ttf');
}

body {
    background-color: #312222;
}

p {
    color: #d6d6d6;
    font-size: 1.2em;
}

h2 {
    color: #91232c;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 5vh;
}

.alignText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > nav {
    padding: 0.5em 0 0 0.5em;
    width: 12vw;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
}

.header > nav > a {
    text-decoration: none;
    color: #91232c;
    font-weight: 600;
}

#homeTitle > h1 {
    color: #ff3849;
    padding: 1.2rem 0 0.5rem 0;
    font-family: 'Exo';
    font-size: 2.3em;
}

#homeText > p {
    width: 35vw;
    padding: 1.25rem 0 0 0;
    line-height: 1.5;
    min-width: 300px;
    max-width: 900px;
    text-align: left;
}

#experience > p {
    width: 35vw;
    min-width: 300px;
    max-width: 900px;
    text-align: left;
}

#summary > p {
    width: 35vw;
    min-width: 300px;
    max-width: 900px;
    text-align: left;
}

#contact > p {
    width: 25vw;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    
        .header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5vh;
    }
}
